#centro {
    display: grid;
    justify-items: center;
}

#output {
    font-size: 30px;
}

#estrelas1 {
    position: absolute;
    width: 300px;
    left: 15px;
    bottom: 0;
}

#estrelas2 {
    position: absolute;
    width: 300px;
    right: 15px;
    bottom: 0;
}

#centro img {
    width: 170px;
    margin-top: 40px;
}

#img {
    display: flex;
    justify-content: center;
    margin-top: 2pc;
}